body {
    background-color: rgb(171, 202, 202)
}

.p {
    color: rgb(209, 211, 165);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

form {
    background-color: #ded9b6;
    padding: 20px;
    margin-left:30% ;
    margin-right: 30%;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    border:20px solid  black ;
    box-shadow: 0 0 10px #aaa;
}

#button:hover {
    color: blue;
    position: fixed;


}